body {
	margin: auto;
	background: cadetblue;
    font-family: cursive;
	color: midnightblue;
}
ul{
	list-style: none;
	margin-bottom: 70px;
    border: 2px solid aquamarine;

	
}
label {
	display: block;
	padding-bottom: 5px;
	padding-top: 5px;
}
input {
	display: block;
}